@import url('../components/Globals.css');

.Item {
  margin: 5px auto;
  width: 100%;

  button {
    border: none;
    outline: none;
  }

  .itemWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .itemContent {
    display: flex;
    flex-direction: column;
  }

  .name {
    font-weight: bold;
  }

  .category {
    color: grey;
    font-size: .75rem;
  }

  .itemQuantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7vw;
  }

  .quantity {
    font-size: 1rem;
  }

}
